# Web framework
fastapi         
uvicorn[standard]

# Database
sqlalchemy        
pymysql            
psycopg2-binary
cryptography    

# Data validation
pydantic           
pydantic-settings 
pydantic[email]  

# Auth & Security
python-jose[cryptography]  
passlib[bcrypt]
bcrypt==4.3.0         
resend

# AI
openai         

# File handling
python-multipart   
pandas         

# Environment
python-dotenv     

google-auth
requests

# Rate Limiting
slowapi

# Production Server
gunicorn